
.header {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 1000;

    width: 100%;
    height: $height-header-items;
    background-color: #fff;
    padding: 0 1em;
    display: flex;
    box-shadow: 0 5px 15px -2px rgba(0,0,0, .2);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .offcanvas,
    .date-timer,
    .user {
        display: flex;
        align-items: center;
    }

    .offcanvas .item {
        font-size: 2rem;
    }

    .date-timer {
        flex-direction: row;
        > p {
            font-size: .8rem;
            margin: 0 .5em 0 0;
        }
        .mark {
            color: $warning;
        }
    }

    @include media-breakpoint-up('lg') {
        .offcanvas {
            display: none;
        }
    }
}